<launch>
	<arg name="scene_file_arg" default="/cavs/projects/Halo/Autonomous-P/Modeling-P/MAVS/mavs/data/scenes/forester_scene_less_trees_simple.json" />
	<arg name="vehicle_file_arg" default="/cavs/projects/Halo/Autonomous-P/Modeling-P/MAVS/mavs/data/vehicles/rp3d_vehicles/mrzr4_tires_low_gear.json" />

	<arg name="cmd_vel_topic_arg" default="nature/cmd_vel" />
	<arg name="point_cloud_topic_arg" default="nature/points" />
	<arg name="odometry_topic_arg" default="nature/odometry" />
	<arg name="x_start_arg" default="-50.0" />
	<arg name="y_start_arg" default="0.0" />
	<arg name="heading_start_arg" default="0.0" />
	<arg name="show_debug_arg" default="true" />
	<arg name="lidar_type_arg" default="OS1" />
	<arg name="lidar_offset_x_arg" default="1.0" />
	<arg name="lidar_offset_y_arg" default="0.0" />
	<arg name="lidar_offset_z_arg" default="1.5" />
	<arg name="blanking_dist_arg" default="2.0" />

	<node name="mavs_vehcicle_node" pkg="mavs_ros" type="mavs_vehicle_node" output="screen" required="true" >
		<remap from="mavs_ros/cmd_vel" to="$(arg cmd_vel_topic_arg)"/>
		<remap from="mavs_ros/odometry" to="$(arg odometry_topic_arg)"/>
		<param name="rp3d_vehicle_file" value="$(arg vehicle_file_arg)" />
		<param name= "debug_camera" value="$(arg show_debug_arg)" />
		<param name = "Initial_X_Position" value="$(arg x_start_arg)"/>
		<param name = "Initial_Y_Position" value="$(arg y_start_arg)"/>
		<param name = "Initial_Heading" value="$(arg heading_start_arg)"/>
		<param name="scene_file" value="$(arg scene_file_arg)"/>
		<param name = "soil_strength" value = "250"/>
		<param name = "surface_type" value = "dry"/>
		<param name= "publish_imu" value="true" />
		<param name = "imu_input_file" value = "$(find mavs_ros)/config/mavs_imu_inputs.json" />
		<param name= "use_human_driver" value="false" />
	</node>

	<node name="mavs_sensors_node" pkg="mavs_ros" type="mavs_sensors_node" output="screen" required="true" >
		<remap from="mavs_ros/point_cloud2" to="$(arg point_cloud_topic_arg)"/>
		<param name= "use_lidar" value="true" />
		<param name= "display_lidar" value="$(arg show_debug_arg)" />
		<param name= "register_lidar" value="false" />
		<param name="rp3d_vehicle_file" value="$(arg vehicle_file_arg)" />
		<param name = "lidar_type" value = "$(arg lidar_type_arg)"/>
		<param name="blanking_dist" value="$(arg blanking_dist_arg)" />
		<param name="scene_file" value="$(arg scene_file_arg)"/>
		<param name="off_x" value="$(arg lidar_offset_x_arg)"/>
		<param name="off_y" value="$(arg lidar_offset_y_arg)"/>
		<param name="off_z" value="$(arg lidar_offset_z_arg)"/>
	</node>


</launch>